* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv {
    background-color: aliceblue;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    /* align-conten t: center; */
}

p {
    margin: 10px;
}